/*<button style={{color: 'red', backgroundColor: 'green'}}>Boton</button>
*/
.Navbar {
    background-color: rgba(232, 224, 170, 0.936);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    /*
    align-items: center;
    justify-content: center;
    */
    font-size: calc(10px + 2vmin);
    color: rgb(193, 57, 57);
  }

  .NavbarButton{
    color: rgb(12, 11, 12);
    background-color: rgba(199, 158, 110, 0.868);
  }