/*<button style={{color: 'red', backgroundColor: 'green'}}>Boton</button>
*/
.Navbar {
    background-color: orange;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .NavbarButton{
    color: red;
    background-color: green;
  }